In [1]:
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Float, Integer, String, Date
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

import pandas as pd
import numpy as np

In [2]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [3]:
engine = create_engine('postgresql+psycopg2://postgres:postgress@localhost:5432/employee_db')

In [4]:
connection = engine.connect()

In [5]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [6]:
# Collect the names of tables within the database
inspector.get_table_names()

['dept_emp', 'salaries', 'departments', 'dept_manager', 'titles', 'employees']

In [7]:
# Using the inspector to print the column names within the 'employees' table and its types
columns = inspector.get_columns('employees')
for column in columns:
    print(column["name"], column["type"])

emp_no INTEGER
emp_title_id VARCHAR
birth_date DATE
first_name VARCHAR
last_name VARCHAR
sex VARCHAR
hire_date DATE

In [8]:
departments = pd.read_sql('select * from departments', connection)
departments

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service